.ipynb_checkpoints/

# Folders
Airbnb
Crimes/Data_tables_Criminal_Incidents_Visualisation_year_ending_June_2019.xlsx
Housing_market/MELBOURNE_HOUSE_PRICES_LESS.csv
Housing_market/melbourne-housing-market.zip

# PowerPoint
Images/Illustration.pptx

# too large datasets
housing_obs_5km_wo_outliers.p
merged.p

capstone-project-David-Fischer_before_cleaning.ipynb


